*{
	margin: 0;
	padding: 0;
}
.green{
	color: #82ae46 !important;
}
.bg-green{
    color: #82ae46 !important;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}



.features{
	width: 100%;
	padding: 80px 0px;
}
.f-item-gallery{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.f-item img{
	width: 50px;
	margin-top: 26px;
	filter: invert(1);
}
.f-item h6{
	font-size: 15px;
	color: black;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
}
.f-item p{
	font-size: 12px;
	color: black;
	opacity: 0.5s;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
.f-item span{
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 100%;
    position: relative;
}
.f-item:nth-child(1) span{
    background-color: #e4b2d6;
}
.f-item:nth-child(2) span{
    background-color: #dcc698;
}
.f-item:nth-child(3) span{
    background-color: #a2d1e1;
}
.f-item:nth-child(4) span{
    background-color: #dcd691;
}
.f-item span:hover{
	background-color: #82ae46;
}
.f-item span::before{
	content: '';
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}

.f-category{
	width: 100%;
	padding: 10px 0px;
}
.fc-gallery{
	display: flex;
}
.fc-item{
	flex-basis: 33.33%;
}
.banner-btn{
	color: #ffffff;
	background-color: #82ae46;
	height: 50px;
	width: 50px;
	padding: 10px;
	border-radius: 50px;
}
.banner-btn:hover{
	background-color: white;
	color: #82ae46;
	border: 3px solid #82ae46;
}
.item-content{
	position: relative;
	margin: 26px 10px;
}
.item-content img{
	width: 100%;
	height: 280px;
}
.item-content a{
	position: absolute;
	bottom: 4px;
	left: 0;
	background: #82ae46;
	color: white;
	padding: 10px 20px;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
.second{
	text-align: center;
	margin: 30px;
	background-image: url(../img/veg3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.second h3{
    font-size: 28px;
    color: #82ae46;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 16px;
}
.second p{
    font-size: 15px;
    color: #808080;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}
.fc-item .banner-btn:hover{
	border-color: black;
	color: black;
}

.products{
	width: 100%;
	padding: 80px 0px;
}
.section-title{
	text-align: center;
}
.section-title h6{
	font-size: 18px;
	font-family: 'Lora', serif;
	font-style: italic;
	color: #82ae46;
	font-weight: 400;
	margin-bottom: 10px;
}
.section-title h2{
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #000;
	margin-bottom: 16px;
}
.section-title p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #808080;
	line-height: 1.8;
}
.product-gallery{
	margin-top: 42px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 32px;
	grid-row-gap: 32px;
}
.product-item img{
	width: 220px;
	margin-bottom: 16px;
}
.product-item{
	text-align: center;
	border: 1px solid #eee;
	padding: 22px 0px;
	position: relative;
}
.product-item h6 a{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 2px;
	display: inline-block;
	line-height: 0.1;
}
.price span{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #82ae46;
}
.price span del{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #b3b3b3;
}
.offer{
	background-color: #82ae46;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	display: inline-block;
	padding: 4px 10px;
	position: absolute;
	top: 1px;
	left: 1px;
}
.product-meta a i{
	height: 40px;
	width: 40px;
	background-color: #82ae46;
	color: white;
	border-radius: 100%;
	line-height: 40px;
}
.product-meta{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.3s;
}
.product-item:hover .product-meta{
	opacity: 1;
	transition: 0.3s;
}
.product-item:hover img{
	transform: scale(1.2);
	transition: 0.3s;
}
.product-item:hover{
	box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
}

.deal{
	width: 100%;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0px;
}